<!-- <p>my-component2 works!</p> -->


<div class="d-flex wrap">
  <img *ngIf="url1" src="{{url1}}" class="rounded mx-auto d-block " alt="">
  <img [src]="url2" class="rounded mx-auto d-block " alt="">
</div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr app-table-row *ngFor="let name of names;let i = index"          
          (onNewDelItem)="deleteItem($event)"
          [index]="i"
          [name]="name" 
          [lastName]="localLastName">
      </tr>
      

    </tbody>
  </table>