a{
   font-size: 14px;
}
a span{
   color: rgb(255, 238, 0);
}
.navbar-brand b, .navbar-brand b span{
   color: rgb(25, 9, 116);
   text-shadow: white 0px 0px 4px,
                rgb(255, 238, 0) 0px 0px 8px;
}
.active span{
   color: rgb(30, 11, 134);
}
a:hover span{
   color: rgb(30, 11, 134);
}
a i{
   color: #17A2B8;
}
.pointer{
   cursor: pointer;
}
.navbar{
   margin-bottom: 20px;
}
li{
   margin-right: 4px;
}
li:hover, .logout:hover{
   background-color: yellow;
   border-radius: 12px;
}
.userImg{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: #fff;
}
i{
   color: rgb(45, 45, 112);
}
.active{
   background-color:#f8f7a1d7;
}
.nav-link{
   border-radius:12px;
}
nav{
   background-color: #2B3EE7;
}