<div *ngIf="navBarStatus">

   <nav class="navbar navbar-expand-sm navbar-light bg-info">
      <a class="navbar-brand" ><b> Dashboard<span *ngIf="userName">,</span> {{userName}} </b></a>
      <img *ngIf="userPhotoURL" class="userImg mr-2" [src]="userPhotoURL">     
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation" (click)="showNavBarFunc()">
      <span class="navbar-toggler-icon"></span>     
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll" [ngClass]="{show: showNavBar}" >
      <ul class="navbar-nav mr-auto my-2 my-lg-0 d-flex justify-content-between" >
            <li class="nav-item ">
               <a class="nav-link" routerLink="/dashboard/setData" routerLinkActive="active"  ><i class="fas fa-user-plus mr-2"> </i> <span>Add clients</span></a>
            </li>  

            <li class="nav-item ">
               <a class="nav-link" routerLink="/dashboard/getData" routerLinkActive="active"  ><i class="fas fa-users mr-2"> </i> <span >Clients</span></a>
            </li>   

            <li class="nav-item ">
               <a class="nav-link" routerLink="/dashboard/addContacts" routerLinkActive="active"> <i class="far fa-address-card mr-2"></i> <span >Add Contacts </span></a>
            </li>   

            <li class="nav-item ">
               <a class="nav-link" routerLink="/dashboard/viewContacts" routerLinkActive="active"> <i class="fas fa-user-friends mr-2"></i> <span >Contacts</span></a>
            </li>   
      </ul>
   <div >   
      <div class="nav-item logout" >
         <a class="nav-link pointer" (click)="logOut()" > <i class="fas fa-sign-out-alt mr-2"></i><span>Logout</span> </a>            
      </div>  
   </div>
      </div>
   </nav>

</div>