<div *ngIf="navBarStatus">
<nav class="navbar navbar-expand-sm navbar-light bg-info">
   <a class="navbar-brand" routerLink="/dashboard"><b> Hello<span *ngIf="userName">,</span> {{userName}} </b></a>
   <img *ngIf="userPhotoURL" class="userImg" [src]="userPhotoURL" alt="">            
   <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
       aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
         <!-- <li class="nav-item ">
            <a class="nav-link" (click)="selected(1)" >List posts <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item ">
            <a class="nav-link" (click)="selected(2)" >Table & images<span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item ">
            <a class="nav-link" (click)="selected(3)" >Form registration<span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item ">
            <a class="nav-link" (click)="selected(4)"  >Form with ngmodel</a>
         </li>
         <li class="nav-item ">
            <a class="nav-link" (click)="selected(5)"  >Set color</a>
         </li>
         <li class="nav-item ">
            <a class="nav-link" (click)="selected(6)"  >+/-</a>
         </li> -->
         <li class="nav-item ">
            <a class="nav-link" routerLink="/home" routerLinkActive="active"  >List posts <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item ">
            <a class="nav-link" routerLink="/table" routerLinkActive="active" >Table & images<span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item ">
            <a class="nav-link" routerLink="/formReg" routerLinkActive="active" >Form registration<span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item ">
            <a class="nav-link" routerLink="/formSub" routerLinkActive="active"  >Form with ngmodel</a>
         </li>
         <li class="nav-item ">
            <a class="nav-link" routerLink="/plusminus" routerLinkActive="active"  >+/-</a>
         </li>
         <li class="nav-item ">
            <a class="nav-link" routerLink="/login" routerLinkActive="active"  >Login</a>
         </li>
         
         <li class="nav-item " style="position: absolute; right: 10px;">
            <a class="nav-link" (click)="logOut()" >Sing Out</a>            
         </li>
      </ul>
      
   </div>
</nav>
</div>