
<!-- <div id="wrapper"> -->

  <!-- <app-side-bar></app-side-bar> -->
  <!-- <div id="content-wrapper" class="d-flex flex-column"> -->

  
    <!-- <app-nav-bar-side></app-nav-bar-side> -->

    <div class="content dashboard">
      <div class="container" style="opacity:1.0;" >
      <!-- <div class="container-fluid"> -->

        <!-- <h1>This is Dashboard</h1> -->
        
        <!-- <img class="banner" src="../../../assets/imgs/dashboard.jpg" alt=""> -->
        <!-- <app-nav-bar2></app-nav-bar2> -->
        <router-outlet></router-outlet>
      </div>
    
      <!-- <form >
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="name" id="name" class="form-control" #name>
        </div>
        <div class="form-group">
          <label for="pwd">Email:</label>
          <input type="email" class="form-control" id="email" #email>
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
        <button (click)="sendData(name.value,email.value)" type="button" class="btn btn-success m-3">Save</button>
      </form>
      <button (click)="getDataFromFireStore()" type="button" class="btn btn-success m-3">Get Data From Firestore</button>
      
      <div class="printDataFtomFireStore">
        <ul *ngFor="let items of dataFromFireStore">
          <li *ngFor="let item of items">
            <span *ngFor="let item2 of item">{{item2}}</span>
          </li>
        </ul>
      </div>
  </div> -->




  
  
        
  

