<div class="container">
   <h1>Play with Firestore</h1>
   <div class="btn-group" role="group" aria-label="Basic example">
       <button (click)="setDataToFirebase()" type="button" class="btn btn-secondary">Set</button>
       <button (click)="getDataFromFirebase()" type="button" class="btn btn-secondary">Get</button>
       <button (click)="updateDataToFirebase()" type="button" class="btn btn-secondary">Update</button>
       <button (click)="deleteDataToFirebase()" type="button" class="btn btn-secondary">Delete</button>
     </div>
</div>