<form >
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" #email>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" #password>
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button (click)="onSave(email.value,password)" type="button" class="btn btn-success">Save</button>
  </form>