
.tborder{
   border: 2px solid gray;
   box-shadow: 3px 3px 3px gray;
   padding-bottom: 20px;
}
th{
   font-size: 14px;
   font-weight: 500;
   color: rgb(255, 238, 0);
}
td{
   font-size: 14px;
   cursor: pointer;
}
.trBody:hover{
   transform:scale(1.005);
   background-color: rgba(247, 247, 205, 0.5);
}
th, td {
   padding: 6px;
   vertical-align: middle;
   
}
.thead{
   background-color: rgb(43, 62, 231);
   border-bottom: 2px solid gray;
}
th {
   font-size: 14px;
}
.search{   
   border-radius: 4px;
   box-shadow: 3px 3px 4px gray;
}
.search input, .search button{
   font-size: 14px;
   padding: 4px;
}
.myborder{
   border: 2px solid gray;
   box-shadow: 2px 2px 2px gray;
   border-radius: 4px;
}
.myborder:hover{
   background-color: yellow;
   color: black;
}
i{
   padding: 4px;  
   color: #17A2B8; 
   font-size: 14px;
}
.border-icon{
   border: 1px solid gray;
   border-radius: 4px;
   box-shadow: 2px 2px 2px gray;
   margin-right: 4px;
}
.modalWin{
   position: absolute;
   top: 200px;
   left: 50%;
   transform: translateX(-50%);
   z-index: 1001;
   width: 100wh;
   height: 100vh;
}
.btn-search{
   background-color: rgb(43, 62, 231);   
}
.fa-search{
   color: rgb(255, 238, 0);
}
.btn-search:hover{
   background-color: rgba(43, 62, 231, 0.74);   
}
.btn-del{
   background-color: rgba(43, 62, 231);   
   color: white;
}

@media only screen and (max-width: 768px) {
   .border-icon{
      display: none;
   }

   .dark-modal .modal-content {
      background-color: #292b2c;
      color: white;
    }
    .dark-modal .close {
      color: white;
    }
    .light-blue-backdrop {
      background-color: #5cb3fd;
    }

}