<div class="container " >
   <div style="padding-bottom: 20px;">
     <h1 class="text-center ">Contacts:</h1>
     <div class="btn-group" role="group" aria-label="Basic example">
          
       <div class="input-group mb-3 search">
         <input  type="text" class="form-control bg-light border small shadow"  [(ngModel)]="searchTerm" placeholder="Search for..."
             aria-label="Search" aria-describedby="basic-addon2">
         <div class="input-group-append">
             <button class="btn btn-search" type="button">
                 <i class="fas fa-search fa-sm"></i>
             </button>
         </div>
       </div>
   
     </div>
     <!-- table-striped -->
       <table *ngIf="workers" class="table tborder mb-3 " >
         <thead >
           <tr class="thead">
             <th scope="col">#</th>
             <th scope="col"><i class="fas fa-user "></i> Fullname</th>
             <th scope="col"><i class="far fa-calendar-alt "></i> Birthday</th>
             <th scope="col"><i class="fas fa-at "></i> Email</th>
             <th scope="col"><i class="fas fa-phone "></i> Phone</th>
             <th scope="col"><i class="fas fa-folder-plus "></i> Created</th>
             <th scope="col">Delete</th>
             <th scope="col">Edit</th>
           </tr>
         </thead>
   
         <tbody>                    
            <tr class="trBody" *ngFor="let worker of 
            (workers | searchWorkers:searchTerm)             
           ;let i = index" (click)="editOrShowWorker($event, worker.id,'show')" >          
             <th scope="row" style="color:black">{{i+1}}</th>
             <td> {{worker.firstName}} {{worker.lastName}}</td>
             <td>{{worker.birthday | date: 'dd.MM.yyyy'}}</td>
             <td (click)="$event.stopPropagation()" ><a href="mailto:{{worker.email}}"><i class="far fa-paper-plane "></i> {{worker.email}}</a> </td>
             <td> 
              <div *ngFor="let phone of worker.phones"><a (click)="$event.stopPropagation()" href="tel:{{phone.name}}" ><i class="fas fa-phone-volume"></i>  {{phone.name}}</a></div>
            </td>
             <td>{{worker.timestamp | date: 'dd/MM/yyyy hh:mm a'}}</td>
             <td><button class="myborder" (click)="openVerticallyCentered(content)" (click)="confirmDelete($event,worker.id)"><i class="fas fa-user-times"></i></button></td>            
             <td><button class="myborder" (click)="editOrShowWorker($event,worker.id, 'edit')"><i class="fas fa-user-edit"></i></button></td> 
           </tr>
         </tbody>        
       </table>
   
       <ng-template #content let-modal style="width:300px" class="modalWin">
         <div class="modal-body">
           <p>Are you sure you want to delete?</p>
         </div>
         <div class="modal-footer d-flex justify-content-around">
           <button type="button" class="btn btn-del" (click)="delete()" (click)="modal.close('Close click')">Detele</button>
           <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Canсel</button>
         </div>
       </ng-template>
   </div>
   
 </div>