
<app-spinner *ngIf="showSpinner" class="spinner"></app-spinner>
<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>




<!-- <app-nav-bar 
(selectedItem)="selectedMenu($event)"
></app-nav-bar> -->
<!-- <button (click)="menu=1">1</button>
<button (click)="menu=2">2</button>
<button (click)="menu=3">3</button>
<button (click)="menu=4">4</button> -->

<!-- <div class="container">
  <app-my-component *ngIf="menu==1" ></app-my-component>
  <app-my-component2 *ngIf="menu==2"></app-my-component2>
  <app-form *ngIf="menu==3"></app-form>
  <app-form-subscribe *ngIf="menu==4" [ngStyle]="{color: 'blue'}"></app-form-subscribe>
  <div *ngIf="menu==5">
    <app-setcolor></app-setcolor>
    <app-show-color></app-show-color>

  </div>
  <app-plus-minus *ngIf="menu==6"></app-plus-minus>
</div> -->


<!-- <div class="container" *ngIf="disableContainer"> -->
  <!-- <p>container</p> -->
  <!-- <router-outlet></router-outlet> -->
  <!-- </div> -->
  <!-- <div class="container-fluid" *ngIf="!disableContainer"> -->
    <!-- <p>container-fluid</p> -->
    <!-- <router-outlet></router-outlet> -->
    <!-- </div> -->


    